backend/data/medical.json
backend/dict/

git/AiMed/pytorch_model-00001-of-00003.bin
git/AiMed/pytorch_model-00002-of-00003.bin
git/AiMed/pytorch_model-00003-of-00003.bin
git/AiMed/tokenizer.model

model3/pytorch_model-00001-of-00003.bin
model3/pytorch_model-00002-of-00003.bin
model3/pytorch_model-00003-of-00003.bin
model3/tokenizer.model

model4/pytorch_model-00001-of-00003.bin
model4/pytorch_model-00002-of-00003.bin
model4/pytorch_model-00003-of-00003.bin
model4/tokenizer.model

Papermodel/pytorch_model-00001-of-00003.bin
Papermodel/pytorch_model-00002-of-00003.bin
Papermodel/pytorch_model-00003-of-00003.bin
Papermodel/tokenizer.model

sensetive/

